<%= form_with(model: argument) do |form| %>
  <% if argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(argument.errors.count, "error") %> prohibited this argument from being saved:</h2>

      <ul>
        <% argument.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :claim_id, :value => params[:reply] %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
