/ = form_with(model: argument) do |form|
/   - if argument.errors.any?
/     #error_explanation
/       %h2
/         = pluralize(argument.errors.count, "error")
/         prohibited this argument from being saved:
/       %ul
/         - argument.errors.each do |error|
/           %li= error.full_message
/   = form.hidden_field :argument_id
/   = form.hidden_field :reply_type
/   .field
/     = form.label :title
/     = form.text_field :title
/   .field
/     = form.label :body
/     = form.text_field :body
/   .actions
/     = form.submit


%html
  %head
    %title Arguments form
    %link{:href => "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Inter", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", :rel => "stylesheet"}/   

%body{:style => "height: 100vh; background-color: white"}
  .container.h-100.text-black.p-15
    .row
      .col.d-flex.justify-content-center
        = form_with(model: argument) do |form|
          - if argument.errors.any?
            #error_explanation
              %h2
                = pluralize(argument.errors.count, "error")
                prohibited this argument from being saved:
              %ul
                - argument.errors.each do |error|
                  %li= error.full_message
          = form.hidden_field :argument_id
          = form.hidden_field :reply_type
          .field
            = form.label :title
            = form.text_field :title
          .field
            = form.label :body
            = form.text_field :body
          .actions
            = form.submit