%p#notice= notice
%h1 Arguments
%table
  %thead
    %tr
      %th Title
      %th User
      %th{:colspan => "3"}
  %tbody
    - @arguments.each do |argument|
      %tr
        %td= link_to argument.title, argument
        %td= argument.user.email.split('@')[0]
        - if policy(argument).edit?
          %td= link_to 'Edit', edit_argument_path(argument)
        - if policy(argument).destroy?
          %td= link_to 'Destroy', argument, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Argument', new_argument_path

=render 'nav'