

<p>
  <strong>Title:</strong>
  <%= @argument.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @argument.body %>
</p>


<p>
  <strong>User:</strong>
  <%= @argument.user.email %>
</p>

<p>
  <strong>Pros:</strong>
  <ul>
    <% @argument.arguments.pro.each do |argument| %>
      <li><%= link_to argument.title, argument %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Cons:</strong>
  <ul>
    <% @argument.arguments.con.each do |argument| %>
      <li><%= link_to argument.title, argument %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Add Pro', new_argument_path(reply: @argument.id, reply_type: :pro) %>|
<%= link_to 'Add Con', new_argument_path(reply: @argument.id, reply_type: :con) %>|
<%= link_to 'Edit', edit_argument_path(@argument) %> |
<%= link_to 'Back', arguments_path %>
