%p
  %strong Title:
  = @argument.title
%p
  %strong Body:
  = @argument.body
%p
  %strong User:
  = @argument.user.full_name
%p
  %strong Pros:
%ul
  - @argument.arguments.pro.each do |argument|
    %li= link_to argument.title, argument
%p
  %strong Cons:
%ul
  - @argument.arguments.con.each do |argument|
    %li= link_to argument.title, argument



= link_to 'Add Pro', new_argument_path(reply: @argument.id, reply_type: :pro)
|
= link_to 'Add Con', new_argument_path(reply: @argument.id, reply_type: :con)
|
- if policy(@argument).edit?
  %td= link_to 'Edit', edit_argument_path(@argument)
  |
= link_to 'Back', arguments_path

=render 'nav'



%html
  %head
    %title Arguments index
    %link{:href => "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Inter", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", :rel => "stylesheet"}/   

%body{:style => "height: 100vh; background-color: white;"}
  .container.h-100.text-black.p-15
    .row.h-100
      .col
        .row
          %h2{:style => "font-size: 50px"}
            #{@argument.title}